<!DOCTYPE html>

      <div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span10 main-span">

	    <h1>Living Latin in Paris</h1>
	    
	    <h2>December 27, 2013 - January 4, 2014</h2>
	    <p>This one-week program is designed to introduce students to the Latin of the Middle Ages. It combines traditional classroom instruction with the active use of Latin as a living language. There will be two sessions per day. During the classroom session students will read through passages from medieval literature, philosophy, poetry and letters. During the other sessions, the course will visit interesting medieval sites around Paris, using spoken Latin to interact with each other and the site. Grammar, vocabulary and syntax are reinforced and practiced in a memorable and authentic setting. The classroom and the course housing are all within the ancient Quartier Latin, named for the Latin spoken in its streets by the students from every nation attending the Sorbonne in the Middle Ages. 
	    </br></br>
	    </p>
	    
	    <h2>Accomodation</h2>
	    <p>To make the course as accessible as possible to all, there are four housing possibilities of different comfort and price:</p>
	    <ul>
	      <li>a bunk bed in a youth hostel.</li>
	      <li> one bed in a hotel room shared with another course participant. Participants selecting this option will be matched by sex and age.</li>
	      <li>a single hotel room.</li>
	      <li>a hotel room shared with a non-participant.</li>
	    </ul>
	    </br>
	    </p>
	    
	    <h2>Apply</h2>
	    <p>Students of at least 18 years of age and at least an intermediate knowledge of Latin grammar are invited to apply. This usually means at least one year of college or two years of high school Latin.
	    </br></br>
	    To apply or request more information, write to info@paideia-institute.org or contact us by telephone: (609) 429-0734.
	    </br></br>
	    </p>
	    
	    
	    
	    </br></br>

	</div><!--/span-->
<!--      </div><!--/row-->  <!-- and apparently this was one span too many?? -->

</html>
