<!DOCTYPE html>

      <div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span10 main-span">


	<div class="row-fluid">
	  <div class="span12">
	    <img src="/assets/refinery/Jason Headshot.jpg" style="float:left; margin-right:25px;">
	     <p >"There is no better way to learn Latin than to use it as an actual language, and there is no better way to learn about Rome than to experience it in the language of the ancients. From debates in the Colosseum on the ethics of gladiatorial games (in Latin of course) to chats with Vatican Latinists, the unique opportunities this class offered to experience the Classics were endless. Not to mention this course probably improved my Latinitas more than any other class I've taken.  Best use of five weeks I've ever made."
	     </p>
	  </div><!--span-->
	</div><!--row-fluid-->

	<div class="row-fluid">
	  <div class="span12"></div>
	</div><!--row-fluid-->

	<div class="row-fluid">
	  <div class="span12">
	    <img src="/assets/refinery/Jason Headshot.jpg" style="float:right; margin-left:25px;">
	     <p >"There is no better way to learn Latin than to use it as an actual language, and there is no better way to learn about Rome than to experience it in the language of the ancients. From debates in the Colosseum on the ethics of gladiatorial games (in Latin of course) to chats with Vatican Latinists, the unique opportunities this class offered to experience the Classics were endless. Not to mention this course probably improved my Latinitas more than any other class I've taken.  Best use of five weeks I've ever made."
	     </p>
	  </div><!--span-->
	</div><!--row-fluid-->

	<div class="row-fluid">
	  <div class="span12"></div>
	</div><!--row-fluid-->

	<div class="row-fluid">
	  <div class="span12">
	    <img src="/assets/refinery/Jason Headshot.jpg" style="float:left; margin-right:25px;">
	     <p >"There is no better way to learn Latin than to use it as an actual language, and there is no better way to learn about Rome than to experience it in the language of the ancients. From debates in the Colosseum on the ethics of gladiatorial games (in Latin of course) to chats with Vatican Latinists, the unique opportunities this class offered to experience the Classics were endless. Not to mention this course probably improved my Latinitas more than any other class I've taken.  Best use of five weeks I've ever made."
	     </p>
	  </div><!--span-->
	</div><!--row-fluid-->

	<div class="row-fluid">
	  <div class="span12"></div>
	</div><!--row-fluid-->

	<div class="row-fluid">
	  <div class="span12">
	    <img src="/assets/refinery/Jason Headshot.jpg" style="float:right; margin-left:25px;">
	     <p >"There is no better way to learn Latin than to use it as an actual language, and there is no better way to learn about Rome than to experience it in the language of the ancients. From debates in the Colosseum on the ethics of gladiatorial games (in Latin of course) to chats with Vatican Latinists, the unique opportunities this class offered to experience the Classics were endless. Not to mention this course probably improved my Latinitas more than any other class I've taken.  Best use of five weeks I've ever made."
	     </p>
	  </div><!--span-->
	</div><!--row-fluid-->


	</div><!--/span-->
<!--      </div><!--/row-->  <!-- and apparently this was one span too many?? -->

</html>
