<!DOCTYPE html>

      <div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span10 main-span">


<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

	</div><!--/span-->
<!--      </div><!--/row-->  <!-- and apparently this was one span too many?? -->
